html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #34495e;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.disable-select{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: inherit;
}

.main-circle {
    position: relative;
    border: 2px white solid;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    transition: transform 1500ms cubic-bezier(.23, 1, .32, 1);
}

.main-circle.animate {
    transform: rotate(360deg);
}

.btn-row {
    width: 100%;
    height: 50%;
}

.btn {
    width: 50%;
    background-color: red;
    height: 100%;
    display: inline-block;
}

.touchable> .btn-row>.btn:hover {
    opacity: 0.8;
}

.btn1 {
    border-top-left-radius: 100%;
    background-color: #2ecc71;
}

.btn1.active {
    background-color: #3cde81;
}

.btn2 {
    border-top-right-radius: 100%;
    background-color: #c0392b;
}

.btn2.active {
    background-color: #e74c3c;
}

.btn3 {
    border-bottom-left-radius: 100%;
    background-color: #d35400;
}

.btn3.active {
    background-color: #e67e22;
}

.btn4 {
    border-bottom-right-radius: 100%;
    background-color: #2980b9;
}

.btn4.active {
    background-color: #57b8f9;
}

.active:hover {
    cursor: pointer;
}

.panel-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 50%;
    background: #2c3e50;
    color: #ecf0f1;
		cursor: default;
}

.simon-header {
    position: absolute;
    font-family: fantasy;
    font-size: 50px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.count {
    position: absolute;
    font-family: fantasy;
    font-size: 30px;
    left: 35%;
    top: 25%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 5px;
    border-radius: 25%;
    background: #201f1f;
}

.panel-btn {
    position: absolute;
    font-family: fantasy;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 25%;
    background: #201f1f;
    transition: background 180ms;
}

.panel-btn.active:hover {
    cursor: pointer;
    background: #4e4d4d;
}

.start {
    left: 32%;
    font-size: 25px;
    padding: 5px;
    bottom: 10%;
}

.reset {
    left: 68%;
    font-size: 25px;
    padding: 5px;
    bottom: 10%;
}

.strict {
    font-size: 20px;
    left: 65%;
    top: 33%;
    padding: 3px;
}

.strict> .diode {
    position: absolute;
    width: 13px;
    height: 13px;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #191919;
    border-radius: 50%;
    background: #7f8c8d;
		transition: background 300ms ease-in-out;
}

.diode.active {
    background: #2fd62c;
}

.dbg {
    background-color: red;
    border: 2px solid blue;
}

.dbg:hover {
    background: yellow;
}

@media (max-width: 512px), (max-height: 590px) {
    .simon-header {
        font-size: 40px;
    }
    .main-circle {
        width: 400px;
        height: 400px;
    }
    .panel-btn {
        font-size: 20px;
    }
    .start {
        left: 28%;
    }
    .reset {
        left: 68%;
    }
		.count{
			left: 32%;
		}
}

@media (max-width: 406px), (max-height: 480px) {
    body {
        padding-top: 10px;
    }
    .simon-header {
        font-size: 30px;
    }
    .count {
        font-size: 20px;
    }
    .panel-btn {
        font-size: 15px;
        border-width: 1px;
        padding: 2px;
    }
    .main-circle {
        width: 280px;
        height: 280px;
    }
}

@media (max-height: 300px) {
    body {
        padding-top: 0px;
    }
    .main-circle {
        width: 250px;
        height: 250px;
    }
}
